{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# jquery #}
        <script src="{% static "rechnung/extern/jquery-2.2.4.min.js" %}"></script>

        {# bootstrap3 #}
        <link rel="stylesheet" href="{% static "rechnung/extern/bootstrap/css/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{% static "rechnung/extern/bootstrap/css/bootstrap-theme.min.css"%}">
        <script src="{% static "rechnung/extern/bootstrap/js/bootstrap.min.js" %}"></script>

        <link href="{% static "rechnung/style.css" %}" media="all" rel="stylesheet">

        <title>{% block title %}Finanz - Rechnungen{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                {# button to show menu on small devices#}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                {# menu content #}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {# on the right #}
                    <ul class="nav navbar-nav navbar-left">
                        {# login #}
                        {% if user.is_authenticated %}
                            <p class="navbar-text">
                                {% blocktrans trimmed with username=user.first_name %}
                                    Hello {{ username }}!
                                {% endblocktrans %}
                             </p>
                            <li><a href="{% url "rechnung:index" %}">Index</a></li>
                            <li><a href="{% url "rechnung:form_rechnung" %}">{% bootstrap_icon "plus" %} Rechnung</a></li>
                            <li><a href="{% url "rechnung:form_kunde" %}">{% bootstrap_icon "plus" %} Kunde</a></li>
                            <li><a href="{% url "rechnung:form_kategorie" %}">{% bootstrap_icon "plus" %} Kategorie</a></li>
                            {# {% if user.is_superuser or user|has_perm_group %} #}
                            {# <li><a href="{% url "admin" %}">{% trans "Admin" context "Admin interface" %}</a></li> #}
                            {# {% endif %} #}
                            {# <li><a href="{% url "change_user" %}">{% trans "Account" %}</a></li> #}
                            {# <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li> #}
                        {% else %}
                            <li><a href="{% url "rechnung:index" %}">Index</a></li>
                        {% endif %}
                        {# end login #}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {# messages #}
            {% if messages %}
                {% bootstrap_messages messages %}
            {% endif %}

            {# content #}
            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <a href="https://fs.tum.de/datenschutz/" target="_blank">
                       Datenschutz 
                    </a> | 
                    <a href="https://fs.tum.de/impressum/" target="_blank">
                        Impressum
                    </a>
                </p>
            </div>
        </footer>
    </body>

</html> 
