{% load static %}
{% load i18n %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta
        content="IE=edge"
        http-equiv="X-UA-Compatible"
    >
    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    >

    <link
        href="{% static "favicon.ico" %}"
        rel="shortcut icon"
        type="image/png"
    >

    {# jquery #}
    <script src="{% static "extern/jquery-2.2.4.min.js" %}"></script>

    {# jquery-ui #}
    <script src="{% static "extern/jquery-ui/jquery-ui.min.js" %}"></script>
    <link
        href="{% static "extern/jquery-ui/jquery-ui.min.css" %}"
        rel="stylesheet"
    >
    <link
        href="{% static "extern/jquery-ui/jquery-ui.structure.min.css" %}"
        rel="stylesheet"
    >
    <link
        href="{% static "extern/jquery-ui/jquery-ui.theme.min.css" %}"
        rel="stylesheet"
    >

    {# bootstrap3 #}
    <link
        href="{% static "extern/bootstrap/css/bootstrap.min.css" %}"
        rel="stylesheet"
    >
    <link
        href="{% static "extern/bootstrap/css/bootstrap-theme.min.css" %}"
        rel="stylesheet"
    >
    <script src="{% static "extern/bootstrap/js/bootstrap.min.js" %}"></script>

    <link
        href="{% static "style.css" %}"
        media="all"
        rel="stylesheet"
    >

    {# moment js #}
    <script src="{% static "extern/momentjs/scripts/moment-with-locales.js" %}"></script>

    {# bootstrap-datetimepicker #}
    <link
        href="{% static "extern/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}"
        media="all"
        rel="stylesheet"
    >
    <script src="{% static "extern/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>

    <title>{% block title %}Finanz - Rechnungen{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            {# button to show menu on small devices#}
            <div class="navbar-header">
                <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            {# menu content #}
            <div
                class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1"
            >
                {# on the right #}
                <ul class="nav navbar-nav navbar-left">
                    {# login #}
                    {% if user.is_authenticated %}
                    <p class="navbar-text">
                        {% blocktrans trimmed with username=user.first_name %}
                        Hallo {{ username }}!
                        {% endblocktrans %}
                    </p>
                    <li><a href="{% url "rechnung:willkommen" %}">
                            {% bootstrap_icon "home" %}
                        </a></li>
                    {% if user.is_superuser %}
                    <li><a href="{% url "rechnung:index" %}">Unerledigt</a></li>
                    <li>
                        <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                style="position: relative; top: 7px;"
                            >{% bootstrap_icon "list-alt" %} Rechnung <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "rechnung:rechnung_neu" %}">
                                        {% bootstrap_icon "plus" %} Hinzufügen
                                    </a></li>
                                <li><a href="{% url "rechnung:rechnungsuchen" %}">
                                        {% bootstrap_icon "search" %} Suchen
                                    </a></li>
                                <li><a href="{% url "rechnung:alle" %}">
                                        {% bootstrap_icon "eye-open" %} Alle
                                    </a></li>
                                <li><a href="{% url "rechnung:alle_mahnungen" %}">
                                        {% bootstrap_icon "hourglass" %} Alle Mahnungen
                                    </a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                style="position: relative; top: 7px; margin-left: 5px;"
                            >{% bootstrap_icon "briefcase" %} Kunde <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "rechnung:kunde_neu" %}">
                                        {% bootstrap_icon "plus" %} Hinzufügen
                                    </a></li>
                                <li><a href="{% url "rechnung:kundesuchen" %}">
                                        {% bootstrap_icon "search" %} Suchen
                                    </a></li>
                                <li><a href="{% url "rechnung:kunden_alle" %}">
                                        {% bootstrap_icon "eye-open" %} Alle
                                    </a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                style="position: relative; top: 7px; margin-left: 5px;"
                            >{% bootstrap_icon "tasks" %}
                                Aufgaben
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "aufgaben:unerledigt" %}">
                                        {% bootstrap_icon "th-list" %} Unerledigt
                                    </a></li>
                                <li><a href="{% url "aufgaben:neu" %}">
                                        {% bootstrap_icon "plus" %} Hinzufügen
                                    </a></li>
                                <li><a href="{% url "aufgaben:neu_aufgabenart" %}">
                                        {% bootstrap_icon "plus" %} Aufgabenart hinzufügen
                                    </a></li>
                                <li><a href="{% url "aufgaben:alle" %}">
                                        {% bootstrap_icon "eye-open" %} Alle
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class="dropdown">
                            <button
                                class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                style="position: relative; top: 7px; margin-left: 5px;"
                            >{% bootstrap_icon "lock" %} Schlüssel <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "schluessel:list_keys" %}">
                                        {% bootstrap_icon "search" %} Suchen
                                    </a></li>
                                {% if user.is_superuser %}
                                <li><a href="{% url "schluessel:add_key" %}">
                                        {% bootstrap_icon "plus" %} Hinzufügen
                                    </a></li>
                                {% endif %}
                                <li><a href="{% url "schluessel:list_persons" %}">
                                        {% bootstrap_icon "search" %} Person suchen
                                    </a></li>
                                <li><a href="{% url "schluessel:add_person" %}">
                                        {% bootstrap_icon "plus" %} Person hinzufügen
                                    </a></li>
                                {% if user.is_superuser %}
                                <li><a href="{% url "schluessel:list_key_changes" %}">
                                        {% bootstrap_icon "th-list" %} Vorgemerkte Typ-Änderungen
                                    </a></li>
                                <li><a href="{% url "schluessel:show_log" %}">
                                        {% bootstrap_icon "tasks" %} Letzte Änderungen
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% if user.is_superuser %}
                    <li><a href="{% url "konto:einlesen" %}">{% bootstrap_icon "credit-card" %} Konto</a></li>
                    {% endif %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url "rechnung:index" %}">Index</a></li>
                    <li><a href="{% url "login" %}">Login</a></li>
                    {% endif %}
                    {# end login #}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {# messages #}
        {% if messages %}
        {% bootstrap_messages messages %}
        {% endif %}

        {# content #}
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <a
                    href="https://fs.tum.de/datenschutz/"
                    target="_blank"
                >Datenschutz</a>
                |
                <a
                    href="https://fs.tum.de/impressum/"
                    target="_blank"
                >Impressum</a>
            </p>
        </div>
    </footer>
</body>

</html>
