{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Finanztool - Konto{% endblock %}

{% block content %}
<h2>Kontoauszug einlesen</h2>
<br>
<p>
    Umsätze vom Konto einlesen und mit offenen Rechnungen vergleichen.
</p>
<p>
    {% if zuletzt_eingetragen %}
    Die letzte Einzahlung war am {{ zuletzt_eingetragen }}.
    {% else %}
    Keine Eintragungen bekannt.
    {% endif %}
</p>
<br>
<form
    action=""
    method="POST"
    enctype="multipart/form-data"
>
    {% csrf_token %}

    {% bootstrap_form form %}

    <div class="alert alert-info">
        Es funktionieren nur CSV Dateien vom <b>CSV-CAMT</b>-Format.
    </div>
    <input
        type="submit"
        value="Upload"
        class="btn btn-secondary"
    />
</form>
{% endblock %}
