{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
<h1>Willkommen beim Finanztool</h1>
<form
    action="{% url "login" %}"
    method="POST"
    accept-charset="utf-8"
    role="form"
>{% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-xl-5">
            {% bootstrap_form form %}
        </div>
    </div>

    <input
        type="hidden"
        name="next"
        value="{{ next }}"
    />
    <button
        class="btn btn-secondary"
        type="submit"
    >Login</button>
</form>
{% endblock %}
