{% extends 'konto/konto_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Kontoauszug einlesen{% endblock %}
{% block title %}Finanztool - Konto{% endblock %}

{% block finanz_common_content %}
<p>
    Umsätze vom Konto einlesen und mit offenen Rechnungen vergleichen.
</p>
<p>
    {% if not konto_einlesen %}
    Keine Eintragungen bekannt.
    {% else %}
    Die letzte Konto-einlesung war am {{ konto_einlesen }}.
    {% if konto_einlesen.pk != konto_last_einzahlung.pk %}
    Die letzte gelesene Konto-Einzahlung war am {{ konto_last_einzahlung }}.
    {% endif %}
    {% endif %}
</p>
<br>
<form
    action=""
    method="POST"
    enctype="multipart/form-data"
>{% csrf_token %}

    {% bootstrap_form form %}

    <div class="alert alert-info">
        Es funktionieren nur CSV Dateien vom <b>CSV-CAMT</b>-Format.
    </div>
    <button
        class="btn btn-secondary"
        type="submit"
    >Upload</button>
</form>
{% endblock %}
