{% extends 'aufgaben/aufgaben_base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Alle Aufgaben{% endblock %}
{% block title %}Alle Aufgaben{% endblock %}


{% block head %}
<script>
    $(() => {
        $('#aufgabenTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
{% if alle_aufgaben %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <td class="table-success">Erledigt</td>
            <td>Sonstiges</td>
            <td class="table-warning">Nicht Erledigt und Fällig</td>
        </tr>
    </table>
</div>
<h3>Alle Aufgaben</h3>
<br />
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="aufgabenTable"
    >
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Zusatz</th>
                <th>Frist</th>
                <th>Zuständiger</th>
                <th>Bearbeiter</th>
                <th>Jahr</th>
                <th>Semester</th>
                <th>Text</th>
                <th>Anhang</th>
            </tr>
        </thead>
        <tbody>
            {% for aufgabe in alle_aufgaben %}
            <tr
                {% if aufgabe.faellig and not aufgabe.erledigt %}class="table-warning"
                {% elif aufgabe.erledigt %}class="table-success"
                {% endif %}
            >
                <td>
                    <a href="{% url "aufgaben:aufgabe" aufgabe.id %}">
                        {{ aufgabe.art.name }}
                    </a>
                </td>
                <td>{{ aufgabe.zusatz|default_if_none:"" }}</td>
                <td>{{ aufgabe.frist }}</td>
                <td>{{ aufgabe.zustaendig.get_short_name }}</td>
                <td>{{ aufgabe.bearbeiter.get_short_name }}</td>
                <td>{{ aufgabe.jahr|unlocalize|default_if_none:"" }}</td>
                <td>{{ aufgabe.get_semester_display|default_if_none:"" }}</td>
                <td>{{ aufgabe.text }}</td>
                <td>{% if aufgabe.attachment %}<a href="{{ aufgabe.attachment.url }}"><span class="bi bi-cloud-arrow-down-fill"></span></a>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Es sind keine Aufgaben verfügbar.</p>
{% endif %}
{% endblock %}
