{% extends 'aufgaben/aufgaben_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}
Aufgabe {% if aufgabe.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}
{% block title %}
Aufgabe {% if aufgabe.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}

{% block finanz_common_content %}
<p class="text-muted">Mit * markierte Felder sind verpflichtend</p>

<form
    method="POST"
    enctype="multipart/form-data"
>{% csrf_token %}
    {% bootstrap_form form %}
    {% if aufgabe.pk %}
    <a
        class="btn btn-secondary"
        href="{% url "aufgaben:aufgabe" aufgabe_id=aufgabe.pk %}"
    ><span class="bi bi-arrow-left"></span> Zurück zur Aufgabe</a>
    {% endif %}
    <button
        class="btn btn-secondary"
        type="submit"
    >Aufgabe speichern</button>
</form>
{% endblock %}
