{% extends 'aufgaben/aufgaben_base.html' %}
{% load django_bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Finanztool - Unerledigte Aufgaben{% endblock %}
{% block title %}Finanztool - Unerledigte Aufgaben{% endblock %}

{% block head %}
<script>
    $(() => {
        $('#personTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}


{% block finanz_common_content %}
<h3>Meine Aufgaben</h3>
<br>
{% if meine_aufgaben %}
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="personTable"
    >
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Zusatz</th>
                <th>Frist</th>
                <th>Jahr</th>
                <th>Semester</th>
            </tr>
        </thead>
        <tbody>
            {% for aufgabe in meine_aufgaben %}
            <tr>
                <td>
                    <a href="{% url "aufgaben:view_aufgabe" aufgabe.id %}">
                        {{ aufgabe.art.name }}
                    </a>
                </td>
                <td>{{ aufgabe.zusatz|default_if_none:"" }}</td>
                <td>
                    {% if aufgabe.faellig %}
                    <span style="color: red;">
                        {{ aufgabe.frist }}
                    </span>
                    {% else %}
                    {{ aufgabe.frist }}
                    {% endif %}
                </td>
                <td>

                    {{ aufgabe.jahr|unlocalize|default_if_none:"" }}

                </td>
                <td>{{ aufgabe.get_semester_display|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Es gibt keine Aufgaben, die ich erledigen muss!</p>
{% endif %}
<h3>Unerledigte Aufgaben</h3>
<br>

{% if aufgaben %}
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="personTable"
    >
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Zusatz</th>
                <th>Frist</th>
                <th>Jahr</th>
                <th>Semester</th>
                <th>Zuständiger</th>
            </tr>
        </thead>
        <tbody>
            {% for aufgabe in aufgaben %}
            <tr>
                <td>
                    <a href="{% url "aufgaben:view_aufgabe" aufgabe.id %}">
                        {{ aufgabe.art.name }}
                    </a>
                </td>
                <td>{{ aufgabe.zusatz|default_if_none:"" }}</td>
                <td>
                    {% if aufgabe.faellig %}
                    <span style="color: red;">
                        {{ aufgabe.frist }}
                    </span>
                    {% else %}
                    {{ aufgabe.frist }}
                    {% endif %}
                </td>
                <td>
                    {{ aufgabe.jahr|unlocalize|default_if_none:"" }}
                </td>
                <td>{{ aufgabe.get_semester_display|default_if_none:"" }}</td>
                <td>{{ aufgabe.zustaendig.get_short_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Es gibt keine Aufgaben, die zu erledigen sind!</p>
{% endif %}
{% endblock %}
