{% extends 'aufgaben/aufgaben_base.html' %}
{% load django_bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Aufgabe {{ aufgabe.art.name }} {{ aufgabe.zusatz }} {{ aufgabe.jahr|unlocalize }}{% endblock %}
{% block title %}Finanztool - Aufgabe {{ aufgabe.art.name }}{% endblock %}

{% block finanz_common_content %}
<table class="table table-striped table-hover">
    <tr>
        <th>Frist</th>
        <td>{{ aufgabe.frist }}</td>
    </tr>
    <tr>
        <th>Erledigt?</th>
        <td>{% include "snippets/true_false_span.html" with value=aufgabe.erledigt %}</td>
    </tr>
    <tr>
        <th>Zuständig</th>
        <td>{{ aufgabe.zustaendig.get_full_name }}</td>
    </tr>
    <tr>
        <th>Bearbeiter</th>
        <td>{{ aufgabe.bearbeiter.get_full_name|default_if_none:"" }}</td>
    </tr>
    {% if aufgabe.semester or aufgabe.jahr %}
    <tr>
        <th>Betrifft</th>
        <td>{{ aufgabe.get_semester_display|default_if_none:"" }} {{ aufgabe.jahr|unlocalize|default_if_none:"" }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Weitere Informationen</th>
        <td>{{ aufgabe.text }}</td>
    </tr>
    {% if aufgabe.attachment %}
    <tr>
        <th>Anhang</th>
        <td><a href="{{ aufgabe.attachment.url }}"><span class="bi bi-cloud-arrow-down-fill"></span></a></td>
    </tr>
    {% endif %}
</table>

<form method="POST">{% csrf_token %}
    <a
        class="btn btn-primary"
        href="{% url "aufgaben:edit_aufgabe" aufgabe.id %}"
    >Bearbeiten</a>
    {% bootstrap_form form %}
    {% if aufgabe.erledigt %}
    <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#nicht-erledigtModal"
    >Nicht mehr Erledigt</button>
    <div
        class="modal fade"
        id="nicht-erledigtModal"
        tabindex="-1"
        aria-labelledby="nicht-erledigtModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        class="modal-title"
                        id="nicht-erledigtModalLabel"
                    >Aufgabe ist nicht mehr erledigt</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">Bestätigung, das die Aufgabe nicht erledigt sein soll</div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Schließen</button>
                    <button
                        class="btn btn-warning"
                        name="nicht-erledigt"
                        type="submit"
                    >Aufgabe ist nicht mehr erledigt</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#erledigtModal"
    >Erledigt</button>
    <div
        class="modal fade"
        id="erledigtModal"
        tabindex="-1"
        aria-labelledby="erledigtModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        class="modal-title"
                        id="erledigtModalLabel"
                    >Aufgabe wurde erledigt</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">Bestätigung, das die Aufgabe erledigt wurde</div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Schließen</button>
                    <button
                        class="btn btn-success"
                        name="erledigt"
                        type="submit"
                    >Aufgabe wurde erledigt</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}
