{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Typ-Änderung für {{ key.typename }} {{ key }} löschen{% endblock %}
{% block title %}Finanztool - Typ-Änderung löschen{% endblock %}

{% block finanz_common_content %}
<p>
    Soll die vorgemerkte Änderung (<strong>{{ key.keytype.shortname }}</strong> zu
    <strong>{{ key.savedkeychange.new_keytype.shortname }}</strong>) für
    <a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a>
    wirklich wieder gelöscht werden?
</p>

<form
    method="POST"
    action=""
>{% csrf_token %}
    {% bootstrap_form form %}
    <button
        class="btn btn-warning"
        type="submit"
    >Löschen</button>
    <a
        class="btn btn-secondary"
        href="{% url "schluessel:view_key" key.id %}"
    >Abbrechen</a>
</form>

{% endblock %}
