{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Typ-Änderung für {{ key.typename }} {{ key }} vormerken{% endblock %}
{% block title %}Finanztool - Typ-Änderung vormerken{% endblock %}

{% block finanz_common_content %}
<form
    method="POST"
    action=""
>{% csrf_token %}

    {% bootstrap_form form %}

    <button
        class="btn btn-secondary"
        name="vormerken"
        type="submit"
    >Typ-Änderung vormerken</button>
    <button
        class="{% if not settings.typ_aenderungs_beauftragter or not settings.typ_aenderung_single %}disabled {% endif %}btn btn-primary"
        name="email-und-vormerken"
        type="submit"
    >Typ-Änderung vormerken und Email an {{ settings.typ_aenderungs_beauftragter }} senden</button>
</form>
{% endblock %}
