{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Typ-Änderung für {{ key.typename }} {{ key }} vormerken{% endblock %}
{% block title %}Finanztool - Typ-Änderung vormerken{% endblock %}

{% block finanz_common_content %}
<div class="col-lg-4">
    <form
        method="POST"
        action=""
    >{% csrf_token %}

        {% bootstrap_form form %}

        <button
            class="btn btn-secondary"
            type="submit"
        >Vormerken</button>
    </form>
</div>
{% endblock %}
