{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Schlüssel/Schließkarte erstellen{% endblock %}
{% block title %}Finanztool - Schlüssel/Schließkarte erstellen{% endblock %}

{% block finanz_common_content %}
<h1>Schlüssel/Schließkarte erstellen</h1>

<div class="col-lg-4">
    <form
        name="addform"
        method="POST"
        action=""
    >{% csrf_token %}

        {% bootstrap_form form %}

        <button
            class="btn btn-secondary"
            type="submit"
        >Erstellen</button>
    </form>
</div>
{% endblock %}
