{% extends 'schluessel/schluessel_base.html' %}

{% block finanz_common_headercontent %}{{ key.typename }} {{ key }} ausgeben{% endblock %}
{% block title %}Finanztool - {{ key.typename }} {{ key }} ausgeben{% endblock %}

{% block finanz_common_content %}
<p>
    Sind die Kontaktdaten von <a href="{% url "schluessel:view_person" person.id %}">{{ person }}</a> noch aktuell?
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>Nachname</th>
        <td>{{ person.name }}</td>
    </tr>
    <tr>
        <th>Vorname</th>
        <td>{{ person.firstname }}</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td>{{ person.email }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ person.address }}<br>{{ person.plz }} {{ person.city }}</td>
    </tr>
    <tr>
        <th>Mobil</th>
        <td>{{ person.mobile }}</td>
    </tr>
    <tr>
        <th>Telefon</th>
        <td>{{ person.phone }}</td>
    </tr>
</table>

<p>
    <a
        class="btn btn-secondary"
        href="{% url "schluessel:give_edit_person" key.id person.id %}"
    >Nein, Kontaktdaten
        ändern</a>
</p>

<p>
    <strong>Wenn ja:</strong> Soll
    {% if key.keytype.keycard %}
    die Schließkarte
    {% else %}
    der Schlüssel
    {% endif %}
    <a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a> wirklich an <a href="{% url "schluessel:view_person" person.id %}">{{ person }}</a> ausgegeben werden?
</p>

<form
    method="POST"
    action=""
>{% csrf_token %}

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <button
                        class="btn btn-secondary btn-success"
                        type="submit"
                    >Ausgeben</button>
                </td>
                <td>
                    <a
                        class="btn btn-secondary"
                        href="{% url "schluessel:view_key" key.id %}"
                    >Abbrechen</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}
