{% extends 'schluessel/schluessel_base.html' %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}{{ key.typename }} {{ key }} ausgeben{% endblock %}
{% block title %}Finanztool - {{ key.typename }} {{ key }} ausgeben{% endblock %}

{% block finanz_common_content %}
<form
    id='addform'
    method='post'
    action=''
>{% csrf_token %}

    {% bootstrap_form form %}
    <a
        class="btn btn-secondary"
        href="{% url "schluessel:give_add_person" key.id %}"
    >Neue Person hinzufügen</a>
    <button
        class="btn btn-primary"
        type="submit"
    >Ausgeben</button>
</form>

{% endblock %}
