{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Schlüssel/Schließkarten{% endblock %}
{% block title %}Finanztool - Schlüssel/Schließkarten{% endblock %}

{% block head %}
<script>
    $(() => {
        $('#keyTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
{% if user.is_staff %}
<a
    class="btn btn-secondary"
    href="{% url "schluessel:add_key" %}"
><span class="bi bi-plus-circle-fill"></span> Schlüssel/Schließkarte hinzufügen</a>
{% endif %}
<button
    class="btn btn-secondary"
    data-bs-toggle="collapse"
    data-bs-target="#collapseFilters"
    aria-expanded="false"
    aria-controls="collapseFilters"
>Zur verfügung stehende Filter</button>
<div
    class="collapse"
    id="collapseFilters"
>
    <form
        id="filterform"
        method="POST"
        action=""
    >{% csrf_token %}
        {% bootstrap_form form %}
    </form>
</div>
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="keyTable"
    >
        <thead>
            <tr>
                <th>Typ</th>
                <th>Nummer</th>
                <th>Entleiher*in</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
            <tr
                {% if not key.active %}class="table-danger"
                {% endif %}
            >
                <td>{{ key.keytype }}</td>
                <td><a href="{% url "schluessel:view_key" key.id %}">
                        {{ key }} {% if not key.active %}(inaktiv){% endif %}
                    </a>

                </td>
                <td>
                    {% if key.person %}
                    <a href="{% url "schluessel:view_person" key.person.id %}">{{ key.person }}</a>
                    {% else %}
                    {% include "snippets/true_false_span.html" with value=False %}
                    {% endif %}
                </td>
                <td>{{ key.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
