{% extends 'schluessel/schluessel_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Schlüssel/Schließkarten{% endblock %}
{% block title %}Finanztool - Schlüssel/Schließkarten{% endblock %}

{% block finanz_common_content %}
<div class="col-lg-6">
    {% if user.is_staff %}
    <a
        class="btn btn-secondary"
        href="{% url "schluessel:add_key" %}"
    ><span class="bi bi-plus-circle-fill"></span> Schlüssel/Schließkarte hinzufügen</a>
    {% endif %}

    <form
        id="filterform"
        method="POST"
        action=""
    >{% csrf_token %}

        {% bootstrap_form form %}
        <noscript>
            <button
                class="btn btn-secondary"
                type="submit"
            >Suchen</button>
        </noscript>
    </form>

    <table class="table table-striped table-hover">
        <tr>
            <th>Typ</th>
            <th>Nummer</th>
            <th>Entleiher*in</th>
            <th>Kommentar</th>
        </tr>
        {% for key in keys %}
        <tr>
            <td>{{ key.keytype }}</td>
            <td><a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a>
                {% if not key.active %}
                (inaktiv)
                {% endif %}
            </td>
            <td>
                {% if key.person %}
                <a href="{% url "schluessel:view_person" key.person.id %}">{{ key.person }}</a>
                {% else %}
                <span class="bi bi-person-x-fill"></span>
                {% endif %}
            </td>
            <td>{{ key.comment }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
