{% extends 'base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block title %}Alle Mahnungen{% endblock %}

{% block content %}
{% if rechnungen %}
<div class="row">
    <div class="col-lg-12">
        <h3>Alle Mahnungen</h3>
        <br />
        <table class="table table-hover">
            <tr>
                <th><span class="bi bi-envelope-fill"></span></th>
                <th>Mahnungsnr.</th>
                <th>Kunde</th>
                <th>Fällig</th>
                <th class="align-content-end">Betrag</th>
                <th class="align-content-center">Gerichtlich?</th>
                <th class="align-content-center">Bezahlt?</th>
            </tr>
            {% for rechnung in rechnungen %}
            {% if rechnung.mahnungen %}
            <tr>
                <td></td>
                <th class="{% if not rechnung.erledigt %}table-danger{% endif %}">
                    <a href="{% url 'rechnung:rechnung' rechnung.id %}">
                        {{ rechnung }}
                    </a>
                </th>
                <td>
                    <a href="{% url 'rechnung:kunde' rechnung.kunde.id %}">
                        {% localize off %} {{ rechnung.kunde.knr }} {% endlocalize %}
                    </a>
                </td>
                <td></td>
                <td class="text-muted align-content-end">{{ rechnung.gesamtsumme }} €</td>
                <td></td>
                <td class="align-content-center">
                    {% if rechnung.bezahlt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% endif %}
                </td>
            </tr>
            {% for mahnung in rechnung.mahnungen %}
            <tr>
                <td>
                    {% if mahnung.geschickt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
                <td class="ps-2"><a href="{% url 'rechnung:mahnung' mahnung.rechnung.id mahnung.id %}">
                        {{ mahnung.wievielte }}. Mahnung
                    </a>
                </td>
                {% if mahnung.geschickt %}
                <td></td>
                <td
                    {% if mahnung.faellig and not rechnung.erledigt %}class="table-danger"
                    {% endif %}
                >
                    {{ mahnung.mfdatum }}
                </td>
                <td class="align-content-end">{{ mahnung.mahnsumme }} €</td>
                <td class="align-content-center">
                    {% if mahnung.gerichtlich %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% endif %}
                </td>
                <td class="align-content-center">
                    {% if mahnung.bezahlt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% endif %}
                </td>
                <td></td>
                {% else %}
                <td
                    colspan=5
                    class="text-muted align-content-center"
                >Noch nicht gestellt</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan=7>
                    Es existieren keine Mahnungen.
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
