{% extends 'base.html' %}
{% load bootstrap3 %}
{% load l10n %}

{% block title %}Alle Mahnungen{% endblock %}

{% block content %}
    {% if mahnungen_liste %}
        <div class="row">
            <div class="col-md-12">
                <h3>Alle Mahnungen</h3>
                <br/>
                <table class="table table-hover">
                    <tr>
                        <th>Mahnungsnr.</th>
                        <th>Iteration</th>
                        <th>Kunde</th>
                        <th>Datum</th>
                        <th>Ersteller</th>
                        <th>Gestellt?</th>
                        <th>Betrag</th>
                        <th>Fällig</th>
                        <th>Erledigt?</th>
                    </tr>
                    {% regroup mahnungen_liste by rechnung as rechnungen %}
                    {% for rechnung in rechnungen %}
                        <tr>
                            <th colspan=9>
                                <a href="{% url 'rechnung:rechnung' rechnung.grouper.id %}">
                                    {{ rechnung.grouper }}
                                </a>
                            </th>
                        </tr>
                        {% for mahnung in rechnung.list %}
                            <tr>
                                <td align="right"><a href="{% url 'rechnung:mahnung' mahnung.rechnung.id mahnung.id %}">
                                        {{ mahnung }}
                                    </a>
                                </td>
                                <td>{{ mahnung.wievielte }}</td>
                                <td><a href="{% url 'rechnung:kunde' mahnung.rechnung.kunde.id %}">
                                        {% localize off %} {{ mahnung.rechnung.kunde.knr }} {% endlocalize %}
                                    </a>
                                </td>
                                <td>{{ mahnung.mdatum }}</td>
                                <td>{{ mahnung.ersteller.get_short_name }}</td>
                                {% if mahnung.geschickt %}
                                    <td>
                                    {% bootstrap_icon "ok" %}
                                    </td>
                                    <td align="right">{{ mahnung.mahnsumme }} €</td>
                                    <td>
                                        {% if mahnung.faellig %}
                                            {% if mahnung.erledigt %}
                                                <span style="color : green;">
                                            {% else %}
                                                <span style="color : red;">
                                            {% endif %}
                                        {% endif %}
                                        {{ mahnung.mfdatum|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td>
                                        {% if mahnung.erledigt %}
                                            {% bootstrap_icon "ok" %}
                                        {% else %}
                                            {% bootstrap_icon "remove" %}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                    {% bootstrap_icon "remove" %}
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <p>Es sind keine Mahnungen verfügbar.</p>
    {% endif %}
{% endblock %}

