{% extends 'base.html' %}
{% load bootstrap3 %}
{% load l10n %}

{% block title %}Alle Rechnungen{% endblock %}

{% block content %}
    {% if rechnungen_liste %}
        <div class="row">
            <div class="col-md-12">
                <h3>Alle Rechnungen</h3>
                <br/>
                <table class="table table-hover">
                    <tr>
                        <th>Rechnungsnr.</th>
                        <th>Zweck</th>
                        <th>Kategorie</th>
                        <th>Kunde</th>
                        <th>Datum</th>
                        <th>Ersteller</th>
                        <th>Gestellt?</th>
                        <th>Betrag</th>
                        <th>Fällig</th>
                        <th>Bezahlt?</th>
                    </tr>
                    {% for rechnung in rechnungen_liste %}
                    <tr>
                        <td><a href="{% url 'rechnung:rechnung' rechnung.id %}">RE {{ rechnung.rnr_string }}</a></td>
                        <td>{{ rechnung.name }}</td>
                        <td><a href="{% url 'rechnung:kategorie_detail' rechnung.kategorie.id %}">{{ rechnung.kategorie }}</td>
                        <td><a href="{% url 'rechnung:kunde' rechnung.kunde.id %}"> {% localize off %} {{ rechnung.kunde.knr }} {% endlocalize %} </td>
                        <td>{{ rechnung.rdatum }}</td>
                        <td>{{ rechnung.ersteller.get_short_name }}</td>
                        {% if rechnung.gestellt %}
                            <td>
                            {% bootstrap_icon "ok" %}
                            </td>
                            <td align="right">{{ rechnung.gesamtsumme }} €</td>
                            <td>
                                {% if rechnung.faellig %}
                                    {% if rechnung.bezahlt %}
                                        <span style="color : green;">
                                    {% else %}
                                        <span style="color : red;">
                                    {% endif %}
                                {% endif %}
                                {{ rechnung.fdatum|date:"SHORT_DATE_FORMAT" }}
                            </td>
                            <td>
                                {% if rechnung.bezahlt %}
                                    {% bootstrap_icon "ok" %}
                                {% else %}
                                    {% bootstrap_icon "remove" %}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                            {% bootstrap_icon "remove" %}
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <p>Es sind keine Rechnungen verfügbar.</p>
    {% endif %}
{% endblock %}

