{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Posten hinzufügen{% endblock %}

{% block content %}
<h1>Posten hinzufügen</h1>
<a
    href="{% url "rechnung:rechnung" rechnung_id=rechnung.pk %}"
    class="btn btn-secondary"
    role="button"
>{% bootstrap_icon "arrow-left" %} Zurück zur Rechnung</a>
<div class="row">
    <div class="col-lg-5">
        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                type="submit"
                name="weiter"
                class="save btn btn-secondary"
            >
                {% bootstrap_icon "floppy-disk" %} & neuen Posten
            </button>
            <button
                type="submit"
                name="zurueck"
                class="save btn btn-secondary"
            >
                {% bootstrap_icon "floppy-disk" %} & zurück zur Rechnung
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <h3>Posten</h3>
            <br />
            <table class="table">
                <tr>
                    <th class="text-end">Anzahl</th>
                    <th>Bezeichnung</th>
                    <th class="text-end">Einzelpreis</th>
                    <th class="text-end">Summe Netto</th>
                    <th class="text-end">Summe Netto Gerundet</th>
                    <th class="text-end">Mwst-Satz</th>
                    <th class="text-end">Summe Brutto</th>
                </tr>
                {% for posten in rechnung.posten_set.all %}
                <tr>
                    <td align="right">{{ posten.anzahl }} </td>
                    <td><a href="{% url 'rechnung:posten_aendern' posten.id %}">{{ posten.name }}</td>
                    <td align="right">{{ posten.einzelpreis }} €</td>
                    <td align="right">{{ posten.summenetto }} €</td>
                    <td align="right">{{ posten.summenettogerundet }} €</td>
                    <td align="right">{{ posten.get_mwst_display }}</td>
                    <td align="right">{{ posten.summebrutto }} €</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <th>Zwischensumme:</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="right">{{ rechnung.zwischensumme }} €</td>
                </tr>
                <tr>
                    <td></td>
                    <th>Gesamt (brutto):</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="right">{{ rechnung.gesamtsumme }} €</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
