{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
{% if rechnung.pk %}
    Rechnung ändern
{% else %}
    Rechnung hinzufügen
{% endif %}
{% endblock %}

{% block content %}
    {% if rechnung.pk %}
        <h3>
            <div class="alert alert-danger">
                Möchtest du wirklich diese Rechnung bearbeiten?</br>
                Du kannst lediglich einen neuen Kunden auswählen, hebe in diesem Fall
                das Original auf.</br>
                Für andere Änderungen erstelle bitte eine neue (Korrektur-)Rechnung!
            </div>
        </h3> 
        <h1>Rechnung ändern</h1>
    {% else %}
        <h1>Rechnung hinzufügen</h1>
    {% endif %}

    {% if rechnung.pk %}
        <p><a
             href="{% url "rechnung:rechnung" rechnung_id=rechnung.pk %}"
            class="btn btn-default" role="button">{% bootstrap_icon "arrow-left" %}
            Zurück zur Rechnung
        </a></p>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning">
                Bitte gültige LaTex-Formatierung verwenden (z.B. \& für &, \\ für Absatz)</div>
            <p><span class="text-muted">
                    Mit * markierte Felder sind verpflichtend
            </span></p>

            <script type="text/javascript">
                $(function () {
                    $('.datepicker').datepicker();
                });
            </script>
            <form method="POST">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-default">
                    {% bootstrap_icon "floppy-disk" %} Sichern
                </button>
            </form>
        </div>
    </div>
{% endblock %}
