{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Posten hinzufügen{% endblock %}

{% block content %}
<h1>Posten hinzufügen</h1>
<div class="row">
    <div class="col-lg-5">
        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                class="btn btn-secondary"
                type="submit"
            >Posten speichern</button>
            <button
                class="btn btn-secondary"
                name="loeschen"
                type="submit"
            >Posten löschen</button>
        </form>
    </div>
</div>
{% endblock %}
