{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Rechnung hinzufügen{% endblock %}

{% block content %}
    <h1>Rechnung hinzufügen</h1>
    <div class="row">
        <form method="POST">{% csrf_token %}
            <div class="col-md-6">
                {% bootstrap_form form %}
            <button type="submit" class="save btn btn-default">
                {% bootstrap_icon "floppy-disk" %} Sichern
            </button>
            </div>
        </form>
    </div>
{% endblock %}
