{% extends 'base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block title %}Kunde {{ kunde.knr }} {% endblock %}

{% block content %}
<h1>Kunde {{ kunde.knr|unlocalize }}</h1>
<a
    class="btn btn-primary"
    href="{% url "rechnung:kunde_aendern" kunde.id %}"
>Kunde bearbeiten</a>

<div class="row">
    <div class="col-lg-6">
        <h3>Details</h3>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Organisation</th>
                <td>{{ kunde.organisation }}</td>
            </tr>
            <tr>
                <th>Suborganisation</th>
                <td>{{ kunde.suborganisation }}</td>
            </tr>
            <tr>
                <th>Person</th>
                <td>{{ kunde.get_anrede_display|default_if_none:"" }} {{ kunde.titel }} {{ kunde.vorname }} {{ kunde.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ kunde.strasse }}<br>{{ kunde.plz }} {{ kunde.stadt }}<br>{{ kunde.land }}</td>
            </tr>
            <tr>
                <th>Kommentar</th>
                <td>{{ kunde.kommentar }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
