{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}{{ mahnung.wievielte }}. Mahnung zur RE {{ mahnung.rechnung.rnr_string }}{% endblock %}

{% block content %}
<h1>{{ mahnung.wievielte }}. Mahnung zur
    <a href="{% url "rechnung:rechnung" mahnung.rechnung.id %}">
        RE {{ mahnung.rechnung.rnr_string }} ({{ mahnung.rechnung.name }})
    </a>
</h1>
{% if mahnung.geschickt and not mahnung.bezahlt and not rechnung.erledigt %}
<form method="POST">{% csrf_token %}
    <br />
    <p>
        {{ form }}
        <button
            type="submit"
            name="bezahlt"
            class="save btn btn-success"
        >
            <span class="bi bi-check-circle-fill"></span> Bezahlt
        </button>
    </p>
</form>
{% elif not mahnung.geschickt and not mahnung.bezahlt and not rechnung.erledigt %}
<form method="POST">{% csrf_token %}
    <br />
    <p>
        {{ form }}
        <button
            type="submit"
            name="geschickt"
            class="save btn btn-warning"
        >
            <span class="bi bi-envelope-fill"></span> Geschickt
        </button>
    </p>
</form>
{% endif %}

{% if not rechnung.erledigt %}
<a
    href="{% url "rechnung:mahnung_aendern" rechnung.id mahnung.id %}"
    class="btn btn-info"
    role="button"
>
    <span class="bi bi-pencil-square"></span> Bearbeiten
</a>
{% endif %}

<a
    href="{% url "rechnung:mahnungpdf" rechnung.id mahnung.id %}"
    class="btn btn-info"
    role="button"
>
    <span class="bi bi-cloud-arrow-down-fill"></span> Herunterladen
</a>


<br />
<div class="row">
    <div class="col-lg-12">
        <h3>Allgemein</h3>
        <br />
        <table class="table">
            <tr>
                <th>Erledigt?</th>
                <td>
                    {% if mahnung.bezahlt %}
                    <span style="color: green;">
                        <span class="bi bi-check-circle-fill"></span> Diese Mahnung wurde bezahlt.
                    </span>
                    {% else %}
                    {% if rechnung.erledigt %}
                    {% if rechnung.bezahlt %}
                    <span style="color: green;">
                        <span class="bi bi-check-circle-fill"></span> Die Originalrechnung wurde bezahlt.
                    </span>
                    {% else %}
                    <span style="color: green;">
                        <span class="bi bi-check-circle-fill"></span> Eine andere Mahnung wurde bezahlt.
                    </span>
                    {% endif %}
                    {% else %}
                    <span class="bi bi-person-x-fill"></span> Es wurde noch keine zugehörige Mahnung bezahlt.
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Kunde</th>
                <td>
                    <a href="{% url 'rechnung:kunde' mahnung.rechnung.kunde.id %}">
                        {{ mahnung.rechnung.kunde }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Mahnung</h3>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Erhobene Mahngebühr</th>
                <td class="align-content-end">{{ mahnung.gebuehr }} €</td>
            </tr>
            <tr>
                <th>Neue Bruttosumme:</th>
                <td class="align-content-end"><b>{{ mahnung.mahnsumme }} €<b></td>
            </tr>
            <tr>
                <th>Gerichtliche Schritte</th>
                <td>
                    {% if mahnung.gerichtlich %}
                    <span style="color: red;">wurden angedroht.</span>
                    {% else %}
                    <span class="bi bi-dash-circle-fill"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Geschickt?</th>
                <td>
                    {% if mahnung.geschickt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ mahnung.mdatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ mahnung.mfdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ mahnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
            <tr>
                <th>Einleitungstext</th>
                <td>{{ mahnung.einleitung }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <h3><a href="{% url 'rechnung:rechnung' rechnung.id %}">Original Rechnung</a></h3>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Datum</th>
                <td>{{ mahnung.rechnung.rdatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ mahnung.rechnung.fdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ mahnung.rechnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Einleitungstext</th>
                <td>{{ mahnung.rechnung.einleitung }}</td>
            </tr>
            <tr>
                <th>Gesamtsumme (brutto):</th>
                <td class="align-content-end"><b>{{ mahnung.rechnung.gesamtsumme }} €<b></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <br />
        <h3>Alle Mahnungen zur RE {{ mahnung.rechnung.rnr_string }}</h3>
        <br />
        {% for m in rechnung.mahnungen %}
        <h4>
            <b>
                <a href="{% url 'rechnung:mahnung' m.rechnung.id m.id %}">
                    {{ m.wievielte }}. Mahnung
                </a>
            </b>
        </h4>
        <table class="table table-striped">
            <tr>
                <th>Mahngebühr <span class="bi bi-arrow-right"></span> Neue Summe</th>
                <td>{{ m.gebuehr }} € <span class="bi bi-arrow-right"></span> <b> {{ m.mahnsumme }} €</b></td>
            </tr>
            <tr>
                <th>Gerichtliche Schritte</th>
                <td>
                    {% if m.gerichtlich %}
                    <span style="color: red;">wurden angedroht.</span>
                    {% else %}
                    <span class="bi bi-dash-circle-fill"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Geschickt?</th>
                <td>
                    {% if m.geschickt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
            <tr>
                <th>Bezahlt?</th>
                <td>
                    {% if m.bezahlt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Datum, Fällig</th>
                <td>
                    {{ m.mdatum }},
                    {% if m.faellig and m.geschickt %}
                    <span style="color: red;">
                        {% else %}
                        <span>
                            {% endif %}
                            {{ m.mfdatum }}</span>
                </td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ m.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Einleitung</th>
                <td>
                    {{ m.einleitung }}
                </td>
            </tr>
        </table>
        <br />
        {% endfor %}
    </div>
</div>

{% endblock %}
