{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{ mahnung.wievielte }}. Mahnung zur RE {{ mahnung.rechnung.rnr_string }}{% endblock %}

{% block content %}
<h1>{{ mahnung.wievielte }}. Mahnung zur
    <a href="{% url "rechnung:rechnung" mahnung.rechnung.id %}">
        RE {{ mahnung.rechnung.rnr_string }} ({{ mahnung.rechnung.name }})
    </a>
</h1>
        {% if mahnung.geschickt and not mahnung.erledigt %}
            <form class=form-horizontal method="POST">{% csrf_token %}
                </br>
                <p>
                {{ form }}
                <button type="submit" name="erledigt" class="save btn btn-success">
                    {% bootstrap_icon "ok" %} Erledigt
                </button>
                </p>
            </form>
        {% elif not mahnung.geschickt and not rechnung.erledigt %}
            <form class=form-horizontal method="POST">{% csrf_token %}
                </br>
                <p>
                {{ form }}
                <button type="submit" name="geschickt" class="save btn btn-warning">
                    {% bootstrap_icon "envelope" %} Geschickt
                </button>
                </p>
            </form>
        {% endif %}

        <a href="{% url "rechnung:mahnung_aendern" rechnung.id mahnung.id %}" class="btn btn-info" role="button">
            {% bootstrap_icon "pencil" %} Bearbeiten
        </a>

        <a href="{% url "rechnung:mahnungpdf" rechnung.id mahnung.id %}" class="btn btn-info" role="button">
            {% bootstrap_icon "download-alt" %} Herunterladen
        </a>


<br/>
<div class="row">
    <div class="col-md-12">
        <h3>Allgemein</h3>
        <br/>
        <table class="table" >
                <tr>
                    <th>Kunde</th>
                    <td>
                       <a href="{% url 'rechnung:kunde' mahnung.rechnung.kunde.id %}">
                            {{ mahnung.rechnung.kunde }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Geschickt?</th>
                    <td>
                        {% if mahnung.geschickt %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Erledigt?</th>
                    <td>
                        {% if mahnung.erledigt %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                        TODO für alle vorherigen setzen
                    </td>
                </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Mahnung</h3>
        <br/>
        <table class="table table-striped" >
            <tr>
                <th>Datum</th>
                <td>{{ mahnung.mdatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ mahnung.mfdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ mahnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Erhobene Mahngebühr</th>
                <td>{{ mahnung.gebuehr }} €</td>
            </tr>
            <tr>
                <th>Neue Bruttosumme:</th>
                <td align="right"><b>{{ mahnung.mahnsumme }} €<b></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Original Rechnung</h3>
        <br/>
    <table class="table table-striped" >
            <tr>
                <th>Datum</th>
                <td>{{ mahnung.rechnung.rdatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ mahnung.rechnung.fdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ mahnung.rechnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Einleitungstext</th>
                <td>{{ mahnung.rechnung.einleitung }}</td>
            </tr>
            <tr>
                <th>Gesamtsumme (brutto):</th>
                <td align="right"><b>{{ mahnung.rechnung.gesamtsumme }} €<b></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <br/>
        <h3>Alle Mahnungen zur RE {{ mahnung.rechnung.rnr_string }}</h3>
        <br/>
        {% for andere_mahnung in alle_mahnungen_liste %}
        <h4>
            <b>
                <a href="{% url 'rechnung:mahnung' mahnung.rechnung.id andere_mahnung.id %}">
                    {{ andere_mahnung.wievielte }}. Mahnung
                </a>
            </b>
        </h4>
            <table class="table table-striped" >
                <tr>
                    <th>Datum</th>
                    <td>{{ andere_mahnung.mdatum }}</td>
                </tr>
                <tr>
                    <th>Fälligkeitsdatum</th>
                    <td>{{ andere_mahnung.mfdatum }}</td>
                </tr>
                <tr>
                    <th>Gestellt von</th>
                    <td>{{ andere_mahnung.ersteller.get_full_name }}</td>
                </tr>
                <tr>
                    <th>Erhobene Mahngebühr</th>
                    <td>{{ andere_mahnung.gebuehr }} €</td>
                </tr>
                <tr>
                    <th>Neue Bruttosumme:</th>
                    <td align="right"><b>{{ andere_mahnung.mahnsumme }} €<b></td>
                </tr>
                <tr>
                    <th>Geschickt?</th>
                    <td>
                        {% if andere_mahnung.geschickt %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Erledigt?</th>
                    <td>
                        {% if andere_mahnung.erledigt %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                        TODO für alle vorherigen setzen
                    </td>
                </tr>
            </table>
            <br/>
        {% endfor %}
    </div>
</div>

{% endblock %}
