{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block finanz_common_navigation %}
<a
    class="nav-link"
    data-bs-toggle="offcanvas"
    href="#offcanvasBruttoNetto"
    id="converterOffcanvasToggler"
    role="button"
    aria-controls="offcanvasBruttoNetto"
>Brutto-Netto-converter</a>
<a
    class="nav-link {% active_link "rechnung:dashboard" %}"
    href="{% url "rechnung:dashboard" %}"
>Dashboard</a>
<h4 class="navbar-text">Rechnungen</h4>
<a
    class="nav-link {% active_link "rechnung:list_rechnungen" %}"
    href="{% url "rechnung:list_rechnungen" %}"
>Alle Rechnungen</a>
<a
    class="nav-link {% active_link "rechnung:list_rechnungen_aufgaben_unerledigt" %}"
    href="{% url "rechnung:list_rechnungen_aufgaben_unerledigt" %}"
>Unerledigte Rechnungen und Aufgaben</a>
<a
    class="nav-link {% active_link "rechnung:add_rechnung" %}"
    href="{% url "rechnung:add_rechnung" %}"
>Rechnung hinzufügen</a>

<h4 class="navbar-text">Kategorien</h4>
<a
    class="nav-link {% active_link "rechnung:list_kategorien" %}"
    href="{% url "rechnung:list_kategorien" %}"
>Alle Kategorien</a>
<a
    class="nav-link {% active_link "rechnung:add_kategorie" %}"
    href="{% url "rechnung:add_kategorie" %}"
>Kategorie hinzufügen</a>
<h4 class="navbar-text">Mahnungen</h4>
<a
    class="nav-link {% active_link "rechnung:list_mahnungen" %}"
    href="{% url "rechnung:list_mahnungen" %}"
>Alle Mahnungen</a>

<h4 class="navbar-text">Kunden</h4>
<a
    class="nav-link {% active_link "rechnung:list_kunden" %}"
    href="{% url "rechnung:list_kunden" %}"
>Alle Kunden</a>
<a
    class="nav-link {% active_link "rechnung:add_kunde" %}"
    href="{% url "rechnung:add_kunde" %}"
>Kunde hinzufügen</a>

<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasBruttoNetto"
    aria-labelledby="offcanvasScrollingLabel"
>
    <div class="offcanvas-header">
        <h5
            class="offcanvas-title"
            id="offcanvasBruttoNetto"
        >Brutto <span class="bi bi-arrow-left-right"></span> Netto-Rechner</h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-3">
            <label
                class="form-label"
                for="nettoInput"
            >Netto [€]</label>
            <input
                class="form-control"
                id="nettoInput"
                value="0€"
                onchange="calculateBrutto()"
            >
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="steuerInput"
            >Steuersatz [%]</label>
            <input
                class="form-control bg-secondary text-white"
                id="steuerInput"
                value="7%"
                onchange="resetBoth()"
            >
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="bruttoInput"
            >Brutto [€]</label>
            <input
                class="form-control"
                id="bruttoInput"
                value="0€"
                onchange="calculateNetto()"
            >
        </div>
    </div>
</div>
{% endblock %}

{% block defered_script %}
<script>
    /* global bootstrap */
    /* eslint-disable no-unused-vars */
    const netto = document.getElementById('nettoInput');
    const steuer = document.getElementById('steuerInput');
    const brutto = document.getElementById('bruttoInput');

    function resetBoth() {
        netto.classList.remove('text-white');
        netto.classList.remove('bg-secondary');
        brutto.classList.remove('text-white');
        brutto.classList.remove('bg-secondary');
    }

    function validateMoney(ident) {
        if (!/[0-9]+([,.][0-9]*)?€?/.test(ident.value)) {
            /* eslint no-alert: off */
            alert('Money-value does not match the expected format ([0-9]+([,.][0-9]*)?€?)');
        }
    }

    function validatePercent() {
        if (!/[0-9]+%?/.test(steuer.value)) {
            /* eslint no-alert: off */
            alert('Steuersatz does not match the expected format ([0-9]+%?)');
        }
    }

    function getSteuerSatz() {
        return parseInt(steuer.value.replace(/^([^0-9%])$/, ''), 10);
    }

    function getMoney(ident) {
        return parseFloat(ident.value.replace(/^([^0-9.,])$/, ''));
    }

    function calculateNetto() {
        validateMoney(brutto);
        validatePercent();
        resetBoth();
        brutto.classList.add('bg-secondary');
        brutto.classList.add('text-white');
        const bruttoMoney = getMoney(brutto);
        const steuerSatz = getSteuerSatz();
        const i = bruttoMoney / (steuerSatz / 100 + 1);
        brutto.value = `${bruttoMoney.toLocaleString()}€`;
        netto.value = `${i.toLocaleString()}€`;
    }

    function calculateBrutto() {
        validateMoney(netto);
        validatePercent();
        resetBoth();
        netto.classList.add('bg-secondary');
        netto.classList.add('text-white');
        const nettoMoney = getMoney(netto);
        const steuerSatz = getSteuerSatz();
        const i = nettoMoney * (steuerSatz / 100 + 1);
        netto.value = `${nettoMoney.toLocaleString()}€`;
        brutto.value = `${i.toLocaleString()}€`;
    }

    // correct active label and open the
    const converterOffcanvasToggler = document.getElementById('converterOffcanvasToggler');
    const offcanvasBruttoNetto = document.getElementById('offcanvasBruttoNetto');
    offcanvasBruttoNetto.addEventListener('hidden.bs.offcanvas', () => {
        converterOffcanvasToggler.classList.remove('active');
        sessionStorage.setItem('offcanvasBruttoNetto', null);
    });
    offcanvasBruttoNetto.addEventListener('shown.bs.offcanvas', () => {
        converterOffcanvasToggler.classList.add('active');
        sessionStorage.setItem('offcanvasBruttoNetto', 'open');
    });

    const bsOffcanvas = new bootstrap.Offcanvas(offcanvasBruttoNetto);

    // on browser load "offcanvasBruttoNetto" wont be set in sessionstorage.
    // on subsequent tries accept previous set information will be used
    const stateOffcanvas = sessionStorage.getItem('offcanvasBruttoNetto');
    if (stateOffcanvas === 'open') bsOffcanvas.show();
</script>
{% endblock %}
