{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load bootstrap5 %}

{% block finanz_common_navigation %}
<a
    class="nav-link {% active_link "rechnung:dashboard" %}"
    href="{% url "rechnung:dashboard" %}"
>Dashboard</a>
<h4 class="navbar-text">Rechnungen</h4>
<a
    class="nav-link {% active_link "rechnung:alle" %}"
    href="{% url "rechnung:alle" %}"
>Alle Rechnungen</a>
<a
    class="nav-link {% active_link "rechnung:rechnung_neu" %}"
    href="{% url "rechnung:rechnung_neu" %}"
>Rechnungen hinzufügen</a>

<h4 class="navbar-text">Kategorien</h4>
<a
    class="nav-link {% active_link "rechnung:kategorie" %}"
    href="{% url "rechnung:kategorie" %}"
>Alle Kategorien</a>
<h4 class="navbar-text">Mahnungen</h4>
<a
    class="nav-link {% active_link "rechnung:alle_mahnungen" %}"
    href="{% url "rechnung:alle_mahnungen" %}"
>Alle Mahnungen</a>

<h4 class="navbar-text">Kunden</h4>
<a
    class="nav-link {% active_link "rechnung:kunden_alle" %}"
    href="{% url "rechnung:kunden_alle" %}"
>Alle Kunden</a>
<a
    class="nav-link {% active_link "rechnung:kunde_neu" %}"
    href="{% url "rechnung:kunde_neu" %}"
>Kunde hinzufügen</a>
{% endblock %}
