{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}RE {{ rechnung.rnr }}{% endblock %}

{% block content %}
<h1>RE {{ rechnung.rnr }}: {{ rechnung.name }} 
    <a href="{% url "rechnung:rechnungpdf" rechnung.id %}" class="btn btn-info" role="button">
        {% bootstrap_icon "download-alt" %} Download Rechnung
    </a>
</h1>
<h2>
    <a href="{% url "rechnung:rechnung_aendern" rechnung.id %}" class="btn btn-info" role="button">
        {% bootstrap_icon "edit" %} Rechnung bearbeiten
    </a>
</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Übersicht</h3>
        <br/>
    <table class="table table-striped" >
            <tr>
                <th>Rechnungsdatum</th>
                <td>{{ rechnung.rdatum }}</td>
            </tr>
            <tr>
                <th>Lieferdatum</th>
                <td>{{ rechnung.ldatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ rechnung.fdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ rechnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Rechnung gestellt?</th>
                <td>
                    {% if rechnung.gestellt %}
                        {% bootstrap_icon "ok" %}
                    {% else %}
                        {% bootstrap_icon "remove" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Rechnung bezahlt?</th>
                <td>
                    {% if rechnung.bezahlt %}
                        {% bootstrap_icon "ok" %}
                    {% else %}
                        {% bootstrap_icon "remove" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Kunde</th>
                <td>{{ rechnung.kunde }}</td>
            </tr>
            <tr>
                <th>Kategorie</th>
                <td>{{ rechnung.kategorie }}</td>
            </tr>
        </table>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>Posten</h3>
        <br/>
    <table class="table" >
        <tr>
            <th class="text-right">Anzahl</th>
            <th>Bezeichnung</th>
            <th class="text-right">Einzelpreis</th>
            <th class="text-right">Summe Netto</th>
            <th class="text-right">Summe Netto Gerundet</th>
            <th class="text-right">Mwst-Satz</th>
            <th class="text-right">Summe Brutto</th>
        </tr>
        {% for posten in rechnung.anzahlposten_set.all %}
        <tr>
            <td align="right">{{ posten.anzahl }} </td>
            <td>{{ posten.posten.name }}</td>
            <td align="right">{{ posten.posten.einzelpreis }} €</td>
            <td align="right">{{ posten.summenetto }} €</td>
            <td align="right">{{ posten.summenettogerundet }} €</td>
            <td align="right">{{ posten.posten.get_mwst_display }}</td>
            <td align="right">{{ posten.summebrutto }} €</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <th>Zwischensumme:</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{ rechnung.zwischensumme }} €</td>
        </tr>
        <tr>
            <td></td>
            <th>Gesamt (brutto):</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{ rechnung.gesamtsumme }} €</td>
        </tr>
    </table>
</div>

{% endblock %}
