{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}RE {{ rechnung.rnr }}{% endblock %}

{% block content %}
<h1>RE {{ rechnung.rnr }}: {{ rechnung.name }} 
</h1>
<h2>
    <a href="{% url "rechnung:rechnung_aendern" rechnung.id %}" class="btn btn-info" role="button">
        {% bootstrap_icon "pencil" %} Rechnung bearbeiten
    </a>
    <a href="{% url "rechnung:rechnung_posten_neu" rechnung.id %}" class="btn btn-info" role="button">
        {% bootstrap_icon "plus" %} Neuer Posten
    </a>
    <a href="{% url "rechnung:rechnungpdf" rechnung.id %}" class="btn btn-info" role="button">
        {% bootstrap_icon "download-alt" %} Rechnung herunterladen
    </a>
</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Übersicht</h3>
        <br/>
    <table class="table table-striped" >
            <tr>
                <th>Rechnungsdatum</th>
                <td>{{ rechnung.rdatum }}</td>
            </tr>
            <tr>
                <th>Lieferdatum</th>
                <td>{{ rechnung.ldatum }}</td>
            </tr>
            <tr>
                <th>Fälligkeitsdatum</th>
                <td>{{ rechnung.fdatum }}</td>
            </tr>
            <tr>
                <th>Gestellt von</th>
                <td>{{ rechnung.ersteller.get_full_name }}</td>
            </tr>
            <tr>
                <th>Rechnung gestellt?</th>
                <td>
                    {% if rechnung.gestellt %}
                        {% bootstrap_icon "ok" %}
                    {% else %}
                        {% bootstrap_icon "remove" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Rechnung bezahlt?</th>
                <td>
                    {% if rechnung.bezahlt %}
                        {% bootstrap_icon "ok" %}
                    {% else %}
                        {% bootstrap_icon "remove" %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Kunde</th>
                <td><a href="{% url 'rechnung:kunde' rechnung.kunde.id %}">{{ rechnung.kunde }}</td>
            </tr>
            <tr>
                <th>Kategorie</th>
                <td><a href="{% url 'rechnung:kategorie_detail' rechnung.kategorie.id %}">{{ rechnung.kategorie }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>Posten</h3>
        <br/>
        <table class="table" >
            <tr>
                <th class="text-right">Anzahl</th>
                <th>Bezeichnung</th>
                <th class="text-right">Einzelpreis</th>
                <th class="text-right">Summe Netto</th>
                <th class="text-right">Netto Gerundet</th>
                <th class="text-right">Mwst-Satz</th>
                <th class="text-right">Summe Brutto</th>
            </tr>
            {% for posten in rechnung.posten_set.all %}
            <tr>
                <td align="right">{{ posten.anzahl }} </td>
                <td><a href="{% url 'rechnung:posten_aendern' posten.id %}">{{ posten.name }}</td>
                <td align="right">{{ posten.einzelpreis }} €</td>
                <td align="right">{{ posten.summenetto }} €</td>
                <td align="right">{{ posten.summenettogerundet }} €</td>
                <td align="right">{{ posten.get_mwst_display }}</td>
                <td align="right">{{ posten.summebrutto }} €</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Zwischensumme (netto):</th>
                <td align="right">{{ rechnung.zwischensumme }} €</td>
            </tr>
            <tr>
                <th>Zzgl. Mehrwertsteuer 7%</th>
                <td align="right">{{ rechnung.gesamtsumme }} €</td>
            </tr>
            <tr>
                <th>Gesamt (brutto):</th>
                <td align="right">{{ rechnung.gesamtsumme }} €</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
