{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load l10n %}

{% block title %}Rechnung suchen{% endblock %}

{% block content %}
    <h1>Rechnung suchen</h1>
    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="Suchen" class="btn btn-default"/>
    </form>

    {% if not new_search %}
        {% if result %}
            <div class="row">
                <div class="col-md-10">
                    <h3>Ergebnisse</h3>
                    <br/>
                    <table class="table borderless">
                        <tr>
                            <th>Rechnungsnr.</th>
                            <th>Zweck</th>
                            <th>Kunde</th>
                            <th>Datum</th>
                            <th>Kategorie</th>
                            <th>Gestellt?</th>
                            <th>Betrag</th>
                            <th>Bezahlt?</th>
                        </tr>
                        {% for rechnung in result %}
                            <tr>
                                <td><a href="{% url 'rechnung:rechnung' rechnung.id %}">RE {{ rechnung.rnr_string }}</a>
                                </td>
                                <td>{{ rechnung.name }}</td>
                                <td><a href="{% url 'rechnung:kunde' rechnung.kunde.id %}">
                                    {% localize off %}{{ rechnung.kunde.knr }} {% endlocalize %}</td>
                                <td>{{ rechnung.rdatum }}</td>
                                <td>
                                    <a href="{% url 'rechnung:kategorie_detail' rechnung.kategorie.id %}">{{ rechnung.kategorie }}
                                </td>
                                {% if rechnung.gestellt %}
                                    <td>{% bootstrap_icon "ok" %}</td>
                                    <td align="right">{{ rechnung.gesamtsumme }} €</td>
                                    {% if rechnung.erledigt %}
                                        <td>{% bootstrap_icon "ok" %}</td>
                                    {% else %}
                                        <td>{% bootstrap_icon "remove" %}</td>
                                    {% endif %}
                                {% else %}
                                    <td>{% bootstrap_icon "remove" %}</td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
        {% endif %}
    {% endif %}
{% endblock %}

