{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Detail of entry {{ entry.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>{{ entry.name }}</h2>
        <br/>
    <table class="table table-striped" >
        <tr>
            <th>Value</th>
            <td>
                {% if entry.value < 0 %}
                <span style="color : red;">
                {% else %}
                <span style="color : green;">
                {% endif %}
                {{ entry.value }} €</span>
                </td>
        </tr>
        <tr>
            <th>Date of purchase</div>
            <td>{{ entry.date }}</td>
        </tr>
        <tr>
            <th>Date of registration</th>
            <td>{{ entry.date_registration }}</td>
        </tr>
        <tr>
            <th>Receipt?</th>
            <td>
                {% if entry.receipt %}
                    {% bootstrap_icon "ok" %}
                {% else %}
                    {% bootstrap_icon "remove" %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Purchased by</th>
            <td> <div class="text-capitalize"> {{ entry.user }} </div></td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ entry.category }}</td>
        </tr>
    </table>
</div>
{% endblock %}
