{% extends 'base.html' %}

{% block title %}Finanztool{% endblock %}

{% block content %}
<h2>Willkommen beim Finanztool!</h2>
    <p>
    Es existieren <a href="{% url "rechnung:index" %}">{{ offene_rechnungen }} offene Rechnungen,
     von denen {{ faellige_rechnungen }} fällig sind</a>.
    </p>
    <br>
<h3>Neuerungen</h3>
    <ul>
        <li>2016/10:</li>
        <ul>
            <li>Es ist nun möglich, mithilfe eines <b>CSV Exports</b> aller Überweisungen unsere offenen Rechnungen
               als bezahlt zu markieren! Siehe dazu den neuen Menüpunkt <b>Konto</b>.</li>
            <li>Seit neuestem können <b>Mahnungen</b> erstellt werden. Gehe dazu auf eine fällige Rechnung.</li>
            <li>Außerdem neu eingeführt wurden <b>Datepicker</b>, die einem sehr angenehm das Festlegen von Fristen erlauben!</li>
        </ul>
    </ul>
        <i>Und wie immer: Falls dir etwas auffällt oder unverständlich ist, melde dich bitte!</i>
    </p>

{% endblock %}
