{% extends 'schluessel/schluessel_base.html' %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}Personen{% endblock %}
{% block title %}Finanztool - Personen{% endblock %}


{% block head %}
<script>
    $(() => {
        $('#personTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="personTable"
    >
        <thead>
            <tr>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>E-Mail</th>
                <th>Schlüssel/Schließkarten</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>
                    <a href="{% url "schluessel:view_person" person.id %}">{{ person.name }}</a>
                </td>
                <td>
                    <a href="{% url "schluessel:view_person" person.id %}">{{ person.firstname }}</a>
                </td>
                <td>{{ person.email }}</td>
                <td>
                    {% for key in person.key_set.all %}
                    <a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
