{% extends 'aufgaben/aufgaben_base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}
Aufgabenart {% if aufgabenart.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}
{% block title %}
Aufgabenart {% if aufgabenart.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}

{% block finanz_common_content %}
<p class="text-muted">Mit * markierte Felder sind verpflichtend</p>

<form method="POST">{% csrf_token %}
    {% bootstrap_form form %}
    <button
        class="btn btn-secondary"
        type="submit"
    >Aufgabenart speichern</button>
</form>
{% endblock %}
