{% extends "common/common_base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}Email hinzufügen{% endblock %}
{% block title %}Email hinzufügen{% endblock %}

{% block finanz_common_content %}
<form
    method="post"
    action=""
>{% csrf_token %}

    {% bootstrap_form form %}
    {% include "snippets/mail_template_table.html" with mail=mail %}

    <a
        class="btn btn-secondary"
        href="{% url "common:list_mail" %}"
    >Abbrechen</a>
    <button
        class="btn btn-primary"
        type="submit"
    >Email hinzufügen</button>
</form>
{% endblock %}
