{% extends "base.html" %}
{% load i18n %}

{% block title %}Email hinzufügen{% endblock %}

{% block content %}
<h2>Email hinzufügen</h2>
<table class="table table-hover">
    <tr>
        <th>{% trans "Email subject" %}</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Text" %}</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    <a
        class="btn btn-secondary"
        href="{% url "common:list_mail" %}"
    >Abbrechen</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Delete email template" %}</button>
</form>
{% endblock %}
