{% extends "common/common_base.html" %}
{% load i18n %}

{% block finanz_common_headercontent %}Email hinzufügen{% endblock %}
{% block title %}Email hinzufügen{% endblock %}

{% block finanz_common_content %}
<h2>Email hinzufügen</h2>
<table class="table table-hover">
    <tr>
        <th>Email Betreff</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>Text</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<form
    method="post"
    action=""
>{% csrf_token %}

    <a
        class="btn btn-secondary"
        href="{% url "common:list_mail" %}"
    >Abbrechen</a>
    <button
        class="btn btn-danger"
        type="submit"
    >Email Template löschen</button>
</form>
{% endblock %}
