{% extends "common/common_base.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Email details{% endblock %}
{% block title %}Email details{% endblock %}

{% block finanz_common_content %}
<h2>Email details</h2>

<table class="table table-hover">
    <tr>
        <th>Email Betreff</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>Text</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<div>
    <a
        class="btn btn-secondary"
        href="{% url "common:list_mail" %}"
    >Zurück</a>
    <a
        class="btn btn-primary"
        href="{% url "common:edit_mail" mail.id %}"
    >Email bearbeiten</a>
    <a
        class="btn btn-danger"
        href="{% url "common:del_mail" mail.id %}"
    >Email Template löschen</a>
</div>
{% endblock %}
