{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
Aufgabe {% if aufgabe.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}

{% block content %}
<h1>Aufgabe {% if aufgabe.pk %}ändern{% else %}hinzufügen{% endif %}</h1>

{% if aufgabe.pk %}
<p><a
        href="{% url "aufgaben:aufgabe" aufgabe_id=aufgabe.pk %}"
        class="btn btn-secondary"
        role="button"
    ><span class="bi bi-arrow-left"></span>
        Zurück zur Aufgabe
    </a></p>
{% endif %}
<div class="row">
    <div class="col-lg-6">
        <p><span class="text-muted">
                Mit * markierte Felder sind verpflichtend
            </span></p>

        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                type="submit"
                class="save btn btn-secondary"
            >
                <span class="bi bi-save"></span> Sichern
            </button>
        </form>
    </div>
</div>
{% endblock %}
