{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}

{% block title %}
{% if aufgabenart.pk %}
Aufgabenart ändern
{% else %}
Aufgabenart hinzufügen
{% endif %}
{% endblock %}

{% block content %}
{% if aufgabenart.pk %}
<h1>Aufgabenart ändern</h1>
{% else %}
<h1>Aufgabenart hinzufügen</h1>
{% endif %}

<div class="row">
    <div class="col-lg-6">
        <p class="text-muted">Mit * markierte Felder sind verpflichtend</p>

        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                class="btn btn-secondary"
                type="submit"
            >Aufgabenart speichern</button>
        </form>
    </div>
</div>
{% endblock %}
