{% extends 'base.html' %}

{% block title %}Finanztool{% endblock %}

{% block content %}
<h2>{% if user.first_name %}
    Hallo {{ user.first_name|capfirst }}!
    {% else %}
    Hallo {{ user.username|capfirst }}!
    {% endif %}</h2>

{% if user.is_staff %}
<p>
    Es existieren <a href="{% url "rechnung:index" %}">{{ offene_rechnungen }} offene Rechnungen,
        von denen {{ faellige_rechnungen }} fällig sind</a>.
</p>
<p>
    Dir wurden <a href="{% url "aufgaben:list_aufgaben_unerledigt" %}">{{ eigene_aufgaben }} Aufgaben</a> zugeteilt.
</p>
{% endif %}
<p>
    Es gibt <a href="{% url "schluessel:list_keys" %}">{{ schluessel }} aktive Schlüssel/Schließkarten, von
        denen {{ verfuegbare_schluessel }} verfügbar sind</a>.
</p>
<br>
<h3>Neuerungen</h3>
<ul>
    <li>2021/07/13 - v2.0:
        <ul>
            <li>Removed 2FA due to pending rollout by centralised keycloak 2FA from Compref</li>
            <li>Moved staging to kubernetes</li>
            <li>Improved documentation</li>
        </ul>
    </li>
    <li>2021/06/09 - v2.0.Alpha2:
        <ul>
            <li>Added a <b>Getränkeoverview</b> (who drank how much)</li>
            <li>Added <b>QR-Codes</b></li>
            <li>Added <b>2FA</b> (Auth app or Yubikey. SMS/Calling is not enabled, due to cost and usefullness concerns)</li>
            <li>Added <b>Dashboards</b></li>
            <li>Code-Quality improvements and Bugfixes</li>
        </ul>
    </li>
    <li>2021/06/02 - v2.0.Alpha1:
        <ul>
            <li>Design-Update von Bootstrap 3 zu <b>Bootstrap 5</b></li>
            <li>Einführung von CI, <b>Datatables</b> und <b>Emailbenachrichtigungen</b></li>
            <li>Automatischer <b>Rechungsupload</b> zu <b>Valhalla</b></li>
            <li>Brutto <span class="bi bi-arrow-left-right"> Nettopreis-converter</li>
            <li>Code-Quality improvements, CI and Bugfixes</li>
        </ul>
    </li>
    <li>2017/04 - v1.3:
        <ul>
            <li>Das <b>Schlüsseltool</b> wurde integriert.</li>
        </ul>
    </li>
    <li>2016/11 - v1.2:
        <ul>
            <li>Es können nun <b>Aufgaben</b> angelegt werden, siehe dazu das Dropdown Aufgaben</li>
        </ul>
    </li>
    <li>2016/10 - v1.1:
        <ul>
            <li>Es ist nun möglich, mithilfe eines <b>CSV Exports</b> aller Überweisungen unsere offenen Rechnungen
                als bezahlt zu markieren! Siehe dazu den neuen Menüpunkt <b>Konto</b>.
            </li>
            <li>Seit neuestem können <b>Mahnungen</b> erstellt werden. Gehe dazu auf eine fällige Rechnung.</li>
            <li>Außerdem neu eingeführt wurden <b>Datepicker</b>, die einem sehr angenehm das Festlegen von Fristen
                erlauben!
            </li>
        </ul>
    </li>
</ul>
<i>Und wie immer: Falls dir etwas auffällt oder unverständlich ist, melde dich bitte!</i>

{% endblock %}
