{% extends 'base.html' %}

{% block title %}Finanztool{% endblock %}

{% block content %}
<h2>{% if user.first_name %}
    Hallo {{ user.first_name|capfirst }}!
    {% else %}
    Hallo {{ user.username|capfirst }}!
    {% endif %}</h2>

{% if user.is_staff %}
<p>
    Es existieren <a href="{% url "rechnung:index" %}">{{ offene_rechnungen }} offene Rechnungen,
        von denen {{ faellige_rechnungen }} fällig sind</a>.
</p>
<p>
    Dir wurden <a href="{% url "aufgaben:list_aufgaben_unerledigt" %}">{{ eigene_aufgaben }} Aufgaben</a> zugeteilt.
</p>
{% endif %}
<p>
    Es gibt <a href="{% url "schluessel:list_keys" %}">{{ schluessel }} aktive Schlüssel/Schließkarten, von
        denen {{ verfuegbare_schluessel }} verfügbar sind</a>.
</p>
<br>
<h3>Neuerungen</h3>
<ul>
    <li>2021/12/05 - v2.4:
        <ul>
            <li>The authentication backend was changed to Keycloak:
                <ul>
                    <li>Realm wide 2FA is now finally supported 🥳 (Big thanks to Compref)</li>
                    <li>Single-Sign-On (you only sign in once across all supported sites) functionality is now availible</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>2021/10/28 - v2.3:
        <ul>
            <li>Bugfixes:
                <ul>
                    <li>#39 The decimal-separator used in this tool is now consistent</li>
                    <li>#41 Mails for keycards no longer trigger an latex error if <code>_</code> is used in them.</li>
                </ul>
            </li>
            <li>UX improvements:
                <ul>
                    <li>#40 Every mail send by this tool is also send to the main finanz mail adress</li>
                    <li>#41 Button beim Emailversenden für Schüsseltypänderungen hat nun ein bestätigungsmodal wie rechung->bezahlt</li>
                </ul>
            </li>
            <li>Minor:
                <ul>
                    <li>some dependency-version bumps</li>
                    <li><code>UEBERTRAG (GUTSCHR. UEBERW)</code>, which sometimes comes up in <code>CAMT-CSV</code> is now supported</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>2021/09/04 - v2.2:
        <ul>
            <li>Bugfixes:
                <ul>
                    <li>#38 fixed 500 on konto load</li>
                </ul>
            </li>
            <li>UX improvements:
                <ul>
                    <li>#38 fixed 500 on konto load</li>
                    <li>#37 duplacate_rechnung view now also has the request.user as an "Ersteller"</li>
                    <li>#36 "Alle Rechnungen" is now Rechnungsnummer-desc</li>
                </ul>
            </li>
            <li>Minor:
                <ul>
                    <li>non critical dependency-version bumps</li>
                    <li>added .mailmap configuration</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>2021/08/03 - v2.1:
        <ul>
            <li>Dependency Upgrades</li>
        </ul>
    </li>
    <li>2021/07/13 - v2.0:
        <ul>
            <li>Removed 2FA due to pending rollout by centralised keycloak 2FA from Compref</li>
            <li>Moved staging to kubernetes</li>
            <li>Improved documentation</li>
        </ul>
    </li>
    <li>2021/06/09 - v2.0.Alpha2:
        <ul>
            <li>Added a <b>Getränkeoverview</b> (who drank how much)</li>
            <li>Added <b>QR-Codes</b></li>
            <li>Added <b>2FA</b> (Auth app or Yubikey. SMS/Calling is not enabled, due to cost and usefullness concerns)</li>
            <li>Added <b>Dashboards</b></li>
            <li>Code-Quality improvements and Bugfixes</li>
        </ul>
    </li>
    <li>2021/06/02 - v2.0.Alpha1:
        <ul>
            <li>Design-Update von Bootstrap 3 zu <b>Bootstrap 5</b></li>
            <li>Einführung von CI, <b>Datatables</b> und <b>Emailbenachrichtigungen</b></li>
            <li>Automatischer <b>Rechungsupload</b> zu <b>Valhalla</b></li>
            <li>Brutto <span class="bi bi-arrow-left-right"> Nettopreis-converter</span></li>
            <li>Code-Quality improvements, CI and Bugfixes</li>
        </ul>
    </li>
    <li>2017/04 - v1.3:
        <ul>
            <li>Das <b>Schlüsseltool</b> wurde integriert.</li>
        </ul>
    </li>
    <li>2016/11 - v1.2:
        <ul>
            <li>Es können nun <b>Aufgaben</b> angelegt werden, siehe dazu das Dropdown Aufgaben</li>
        </ul>
    </li>
    <li>2016/10 - v1.1:
        <ul>
            <li>Es ist nun möglich, mithilfe eines <b>CSV Exports</b> aller Überweisungen unsere offenen Rechnungen
                als bezahlt zu markieren! Siehe dazu den neuen Menüpunkt <b>Konto</b>.
            </li>
            <li>Seit neuestem können <b>Mahnungen</b> erstellt werden. Gehe dazu auf eine fällige Rechnung.</li>
            <li>Außerdem neu eingeführt wurden <b>Datepicker</b>, die einem sehr angenehm das Festlegen von Fristen
                erlauben!
            </li>
        </ul>
    </li>
</ul>
<i>Und wie immer: Falls dir etwas auffällt oder unverständlich ist, melde dich bitte!</i>

{% endblock %}
