{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Posten {{ posten.name }}{% endblock %}
{% block title %}Posten {{ posten.name }}{% endblock %}

{% block finanz_common_content %}
<h1>Posten {{ posten.name }}</h1>
<a
    class="btn btn-primary"
    href="{% url "rechnung:posten_aendern" posten.id %}"
>Posten bearbeiten</a>

<div class="row">
    <div class="col-lg-3">
        <h3>Übersicht</h3>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Einzelpreis</th>
                <td>{{ posten.einzelpreis }} €</td>
            </tr>
            <tr>
                <th>Mehrwertsteuersatz</th>
                <td>{{ posten.mwst }} %</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
