{% extends 'rechnung/rechnung_base.html' %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}Posten {{ posten.name }}{% endblock %}
{% block title %}Posten {{ posten.name }}{% endblock %}

{% block head %}
<script>
    $(() => {
        $('#postenTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
<table class="table table-striped">
    <tr>
        <th>Einzelpreis</th>
        <td>{{ posten.einzelpreis }}€</td>
    </tr>
    <tr>
        <th>Mehrwertsteuersatz</th>
        <td>{{ posten.mwst }} %</td>
    </tr>
</table>
<a
    class="btn btn-primary"
    href="{% url "rechnung:posten_aendern" posten.id %}"
>Posten bearbeiten</a>
{% endblock %}
