{% extends 'rechnung/rechnung_base.html' %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}
Kunde {% if kunde.knr %}bearbeiten{% else %}hinzufügen{% endif %}
{% endblock %}
{% block title %}
Kunde {% if kunde.knr %}bearbeiten{% else %}hinzufügen{% endif %}
{% endblock %}

{% block finanz_common_content %}
{% if form.kunde_verwendet %}
<div class="alert alert-danger">
    Dieser Kunde wird bereits in einer Rechnung verwendet,
    du kannst ihn nicht mehr bearbeiten.<br />
    Lege bei Bedarf einen neuen Kunden an.
</div>
{% endif %}
<p class="text-muted">Mit * markierte Felder sind verpflichtend</p>
<form method="POST">{% csrf_token %}
    {% bootstrap_form form %}
    {% if kunde.pk %}
    <a
        class="btn btn-secondary"
        href="{% url "rechnung:view_kunde" kunde_id=kunde.pk %}"
    ><span class="bi bi-arrow-left"></span> Zurück zum Kunden</a>
    {% endif %}
    <button
        class="btn btn-secondary"
        type="submit"
    >Kunde speichern</button>
</form>
{% endblock %}
