{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}
{% if kunde.knr %}
Kunde bearbeiten
{% else %}
Kunde hinzufügen
{% endif %}
{% endblock %}
{% block title %}
{% if kunde.knr %}
Kunde bearbeiten
{% else %}
Kunde hinzufügen
{% endif %}
{% endblock %}

{% block finanz_common_content %}
<h1>
    {% if kunde.knr %}
    Kunde bearbeiten
    {% else %}
    Kunde hinzufügen
    {% endif %}
</h1>
{% if kunde.pk %}
<a
    class="btn btn-secondary"
    href="{% url "rechnung:kunde" kunde_id=kunde.pk %}"
><span class="bi bi-arrow-left"></span> Zurück zum Kunden</a>
{% endif %}
<div class="row">
    <div class="col-lg-5">
        {% if form.kunde_verwendet %}
        <div class="alert alert-danger">
            Dieser Kunde wird bereits in einer Rechnung verwendet,
            du kannst ihn nicht mehr bearbeiten.<br />
            Lege bei Bedarf einen neuen Kunden an.
        </div>
        {% endif %}
        <p class="text-muted">Mit * markierte Felder sind verpflichtend</p>
        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                class="btn btn-secondary"
                type="submit"
            >Kunde speichern</button>
        </form>
    </div>
</div>
{% endblock %}
