{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Alle Kunden{% endblock %}
{% block title %}Alle Kunden{% endblock %}

{% block head %}
<script>
    $(() => {
        $('#kundenTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
{% if kunden_liste %}
<div class="table-responsive">
    <table
        class="table dataTable"
        id="kundenTable"
    >
        <thead>
            <tr>
                <th>Kundennr.</th>
                <th>Organisation</th>
                <th>Suborganisation</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            {% for kunde in kunden_liste %}
            <tr>
                <td>
                    <a href="{% url "rechnung:view_kunde" kunde.id %}">{{ kunde.knr|unlocalize }}</a>
                </td>
                <td>{{ kunde.organisation }}</td>
                <td>{{ kunde.suborganisation }}</td>
                {% if kunde.anrede == "w" %}
                <td>Frau {{ kunde.vorname }} {{ kunde.name }}</td>
                {% elif kunde.anrede == "m" %}
                <td>Herr {{ kunde.vorname }} {{ kunde.name }}</td>
                {% else %}
                <td>{{ kunde.vorname }} {{ kunde.name }}</td>
                {% endif %}
                <td>{{ kunde.strasse }}<br>{{ kunde.plz }} {{ kunde.stadt }}</td>
                <td>{{ kunde.kommentar }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Es sind keine Kunden verfügbar.</p>
{% endif %}
{% endblock %}
