{% extends 'rechnung/rechnung_base.html' %}
{% load django_bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Kunde {{ kunde.knr|unlocalize }}{% endblock %}
{% block title %}Kunde {{ kunde.knr|unlocalize }}{% endblock %}

{% block finanz_common_content %}
<table class="table table-striped">
    <tr>
        <th>Organisation</th>
        <td>{{ kunde.organisation }}</td>
    </tr>
    <tr>
        <th>Suborganisation</th>
        <td>{{ kunde.suborganisation }}</td>
    </tr>
    <tr>
        <th>Person</th>
        <td>{{ kunde.get_anrede_display|default_if_none:"" }} {{ kunde.titel }} {{ kunde.vorname }} {{ kunde.name }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ kunde.strasse }}<br>{{ kunde.plz }} {{ kunde.stadt }}<br>{{ kunde.land }}</td>
    </tr>
    <tr>
        <th>Kommentar</th>
        <td>{{ kunde.kommentar }}</td>
    </tr>
</table>

<a
    class="btn btn-primary"
    href="{% url "rechnung:kunde_aendern" kunde.id %}"
>Kunde bearbeiten</a>
{% endblock %}
