{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Finanztool - Schlüssel/Schließkarte erstellen{% endblock %}

{% block content %}
<h1>Schlüssel/Schließkarte erstellen</h1>

<div class="col-lg-4">
    <form
        name="addform"
        method="POST"
        action=""
    >
        {% csrf_token %}

        {% bootstrap_form form %}

        <button
            type="submit"
            class="btn btn-secondary btn-info"
        >Erstellen</button>
    </form>
</div>
{% endblock %}
