{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Finanztool - Vorgemerkte Schlüsseltyp-Änderungen anwenden{% endblock %}

{% block content %}
    <h1>Vorgemerkte Schlüsseltyp-Änderungen anwenden</h1>

    <div class="col-md-6">
        <p>Sollen folgende Änderungen wirklich angewendet werden?</p>
        <table class="table table-striped table-hover">
            <tr>
                <th>Schlüssel</th>
                <th>Alter Typ</th>
                <th>Neuer Typ</th>
                <th>Entleiher*in</th>
                <th>Kommentar</th>
                <th>Datum</th>
                <th>Finanzer*in</th>
                <th>Anwenden möglich</th>
            </tr>
            {% for key in keys %}
                <tr>
                    <td><a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a></td>
                    <td>{{ key.keytype }}</td>
                    <td>{{ key.savedkeychange.new_keytype }}</td>
                    <td>
                        {% if key.person %}
                            <a href="{% url "schluessel:view_person" key.person.id %}">{{ key.person }}</a>
                        {% else %}
                            {% bootstrap_icon "remove" %}
                        {% endif %}
                    </td>
                    <td>{{ key.savedkeychange.comment }}</td>
                    <td>{{ key.savedkeychange.date | date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>
                        {% if key.savedkeychange.user.get_full_name %}
                            {{ key.savedkeychange.user.get_full_name }}
                        {% else %}
                            {{ key.savedkeychange.user.username }}
                        {% endif %}
                    </td>
                    <td>
                        {% if key.savedkeychange.violated_key %}
                            <p class="text-danger">
                                nicht möglich, <a
                                    href="{% url "schluessel:view_key" key.savedkeychange.violated_key.id %}">{{ key.savedkeychange.violated_key }}</a>
                                gibt es bereits
                            </p>
                        {% else %}
                            {% bootstrap_icon "ok" %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <form method="post" action="">
        {% csrf_token %}

        <table class="table">
            <tr>
                <td>
                    <button type="submit" class="btn btn-default btn-warning">Änderungen anwenden</button>
                </td>
                {% if cur_key %}
                    <td><a href="{% url "schluessel:view_key" cur_key.id %}" class="btn btn-info">Abbrechen</a></td>
                {% else %}
                    <td><a href="{% url "schluessel:list_key_changes" %}" class="btn btn-info">Abbrechen</a></td>
                {% endif %}
            </tr>
            <table>
    </form>


{% endblock %}
