{% extends 'base.html' %}

{% block title %}Finanztool - {{ key.typename }} {{ key }} ausgeben{% endblock %}

{% block content %}
    <h1>{{ key.typename}} {{ key }} ausgeben</h1>
    
    <p>
        Soll
        {% if key.keytype.keycard %}
        die Schließkarte
        {% else %}
        der Schlüssel
        {% endif %}
        <a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a> wirklich an <a href="{% url "schluessel:view_person" person.id %}">{{ person }}</a> ausgegeben werden?
    </p>

    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default btn-success">Ausgeben</button></td>
                <td><a href="{% url "schluessel:view_key" key.id %}" class="btn btn-info">Abbrechen</a></td>
            </tr>
        <table>
    </form>
    
{% endblock %}
