{% extends 'base.html' %}

{% block title %}Finanztool - {{ key.typename }} {{ key }} zurücknehmen{% endblock %}

{% block content %}
<h1>{{ key.typename }} {{ key }} zurücknehmen</h1>

<p>
    Soll
    {% if key.keytype.keycard %}
    die Schließkarte
    {% else %}
    der Schlüssel
    {% endif %}
    <a href="{% url "schluessel:view_key" key.id %}">{{ key }}</a>, momentan ausgegeben an <a href="{% url "schluessel:view_person" key.person.id %}">{{ key.person }}</a>, wirklich zurückgenommen
    werden?
</p>

<form
    method="POST"
    action=""
>{% csrf_token %}

    <table class="table">
        <thead>
            <tr>
                <td>
                    <button
                        class="btn btn-warning"
                        type="submit"
                    >Zurücknehmen</button>
                </td>
                <td>
                    <a
                        class="btn btn-secondary"
                        href="{% url "schluessel:view_key" key.id %}"
                    >Abbrechen</a>
                </td>
            </tr>
        </thead>
    </table>
</form>

{% endblock %}
