{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Kategorien{% endblock %}
{% block title %}Kategorien{% endblock %}

{% block head %}
<script>
    $(() => {
        $('#kategorieTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
{% if kategorien_liste %}
<div class="table-responsive">
    <table
        class="table dataTable"
        id="kategorieTable"
    >
        <thead>
            <tr>
                <th>Kategorie</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for kategorie in kategorien_liste %}
            <tr>
                <td>
                    <a href="{% url "rechnung:list_rechnungen_filter" kategorie.pk %}">{{ kategorie.name }}</a>
                </td>
                <td>
                    <a href="{% url "rechnung:edit_kategorie" kategorie.pk %}"><span class="bi bi-pencil"></span></a>
                    <a href="{% url "rechnung:del_kategorie" kategorie.pk %}"><span class="bi bi-trash-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Es sind keine Kategorien verfügbar.</p>
{% endif %}
{% endblock %}
