{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Alle Rechnungen{% endblock %}
{% block title %}Alle Rechnungen{% endblock %}

{% block finanz_common_content %}
{% if rechnungen_liste %}
<div class="row">
    <div class="col-lg-12">
        <h3>Alle Rechnungen</h3>
        <br />
        <table class="table table-hover">
            <tr>
                <th>Rechnungsnr.</th>
                <th>Zweck</th>
                <th>Kategorie</th>
                <th>Kunde</th>
                <th>Datum</th>
                <th>Ersteller</th>
                <th>Gestellt?</th>
                <th>Betrag</th>
                <th>Fällig</th>
                <th>Bezahlt?</th>
                <th>Erledigt?</th>
            </tr>
            {% for rechnung in rechnungen_liste %}
            <tr>
                <td><a href="{% url 'rechnung:rechnung' rechnung.id %}">RE {{ rechnung.rnr_string }}</a>
                </td>
                <td>{{ rechnung.name }}</td>
                <td>
                    <a href="{% url 'rechnung:kategorie_detail' rechnung.kategorie.id %}">{{ rechnung.kategorie }}</a>
                </td>
                <td><a href="{% url 'rechnung:kunde' rechnung.kunde.id %}">
                        {{ rechnung.kunde.knr|unlocalize }}
                    </a>
                </td>
                <td>{{ rechnung.rdatum }}</td>
                <td>{{ rechnung.ersteller.get_short_name }}</td>
                {% if rechnung.gestellt %}
                <td>
                    <span class="bi bi-check-circle-fill"></span>
                </td>
                <td class="align-content-end">{{ rechnung.gesamtsumme }} €</td>
                <td
                    {% if rechnung.faellig and rechnung.erledigt %}
                    class="table-success"
                    {% elif rechnung.faellig and not rechnung.erledigt %}
                    class="table-danger"
                    {% endif %}
                >
                    {{ rechnung.fdatum|date:"SHORT_DATE_FORMAT" }}
                </td>
                <td>
                    {% if rechnung.bezahlt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
                <td>
                    {% if rechnung.erledigt %}
                    <span class="bi bi-check-circle-fill"></span>
                    {% else %}
                    <span class="bi bi-person-x-fill"></span>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    <span class="bi bi-person-x-fill"></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% else %}
<p>Es sind keine Rechnungen verfügbar.</p>
{% endif %}
{% endblock %}
