{% extends 'rechnung/rechnung_base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Rechnung suchen{% endblock %}
{% block title %}Rechnung suchen{% endblock %}

{% block finanz_common_content %}
<h1>Rechnung suchen</h1>
<form
    action=""
    method="POST"
>{% csrf_token %}

    {% bootstrap_form form %}

    <button
        class="btn btn-secondary"
        type="submit"
    >Suchen</button>
</form>

{% if not new_search and result %}
<h2>Ergebnisse</h2>
<table class="table borderless">
    <tr>
        <th>Rechnungsnr.</th>
        <th>Zweck</th>
        <th>Kunde</th>
        <th>Datum</th>
        <th>Kategorie</th>
        <th>Gestellt?</th>
        <th>Betrag</th>
        <th>Bezahlt?</th>
    </tr>
    {% for rechnung in result %}
    <tr>
        <td><a href="{% url 'rechnung:rechnung' rechnung.id %}">RE {{ rechnung.rnr_string }}</a></td>
        <td>{{ rechnung.name }}</td>
        <td><a href="{% url 'rechnung:kunde' rechnung.kunde.id %}">{{ rechnung.kunde.knr }}</a></td>
        <td>{{ rechnung.rdatum }}</td>
        <td>{{ rechnung.kategorie }}</td>

        <td>{% include "snippets/true_false_span.html" with value=rechnung.gestellt %}</td>
        {% if rechnung.gestellt %}
        <td class="align-content-end">{{ rechnung.gesamtsumme }}€</td>
        <td>{% include "snippets/true_false_span.html" with value=rechnung.erledigt %}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
