{% extends 'rechnung/rechnung_base.html' %}
{% load i18n %}
{% load bootstrap5 %}

{% block finanz_common_headercontent %}Rechnung duplizieren{% endblock %}
{% block title %}Rechnung duplizieren{% endblock %}

{% block finanz_common_content %}
<div class="alert alert-danger">
    Möchtest du wirklich diese Rechnung duplizieren?
</div>
<h1>Rechnung duplizieren</h1>

<a
    class="btn btn-secondary"
    href="{% url "rechnung:rechnung" rechnung_id=rechnung.pk %}"
><span class="bi bi-arrow-left"></span> Zurück zur Rechnung</a>

<div class="row">
    <div class="col-lg-6">
        <p class="text-muted">Mit * markierte Felder sind verpflichtend</p>

        <form method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <button
                class="btn btn-secondary"
                type="submit"
            >Rechnung speichern</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <h3>Posten</h3>
        <p class="text-muted">
            Posten können nach dem Duplizieren bearbeitet werden
        </p>

        <br />
        <table class="table">
            <tr>
                <th class="text-end">Anzahl</th>
                <th>Bezeichnung</th>
                <th class="text-end">Einzelpreis</th>
                <th class="text-end">Mwst-Satz</th>
                <th class="text-end">Summe Netto</th>
            </tr>
            {% for posten in rechnung.posten_set.all %}
            <tr>
                <td class="align-content-end">{{ posten.anzahl }} </td>
                <td>{{ posten.name }}</td>
                <td class="align-content-end">{{ posten.einzelpreis }} €</td>
                <td class="align-content-end">{{ posten.get_mwst_display }}</td>
                <td class="align-content-end">{{ posten.summenettogerundet }} €</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-10">
        <table class="table">
            <tr>
                <th>Zwischensumme (netto):</th>
                <td class="align-content-end">{{ rechnung.zwischensumme }} €</td>
            </tr>
            <tr>
                <th>Zzgl. Mehrwertsteuer 7%</th>
                <td class="align-content-end">{{ rechnung.summe_mwst_7 }} €</td>
            </tr>
            <tr>
                <th>Zzgl. Mehrwertsteuer 19%</th>
                <td class="align-content-end">{{ rechnung.summe_mwst_19 }} €</td>
            </tr>
            <tr>
                <th>Gesamt (brutto):</th>
                <td class="align-content-end"><b>{{ rechnung.gesamtsumme }} €</b></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
