{% extends 'rechnung/rechnung_base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block finanz_common_headercontent %}
Mahnung {% if mahnung.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}
{% block title %}
Mahnung {% if mahnung.pk %}ändern{% else %}hinzufügen{% endif %}
{% endblock %}

{% block finanz_common_content %}
<p class="text-muted">Mit * markierte Felder sind verpflichtend</p>

<form method="POST">{% csrf_token %}
    {% bootstrap_form form %}
    {% if mahnung.pk %}
    <a
        class="btn btn-secondary"
        href="{% url "rechnung:view_mahnung" rechnung_id=rechnung.pk mahnung_id=mahnung.pk %}"
    ><span class="bi bi-arrow-left"></span> Zurück zur Mahnung</a>
    {% endif %}
    <button
        class="btn btn-secondary"
        type="submit"
    >Mahnung speichern</button>
</form>
{% endblock %}
