{% extends 'rechnung/rechnung_base.html' %}
{% load bootstrap5 %}
{% load l10n %}

{% block finanz_common_headercontent %}Alle Mahnungen{% endblock %}
{% block title %}Alle Mahnungen{% endblock %}


{% block head %}
<script>
    $(() => {
        $('#mahnungsTable').DataTable({
            language: {
                decimal: ',',
                thousands: '.',
            },
            paging: false,
            ordering: false,
        });
    });
</script>
{% endblock %}

{% block finanz_common_content %}
<div class="table-responsive">
    <table
        class="table dataTable table-hover"
        id="mahnungsTable"
    >
        <thead>
            <tr>
                <th><span class="bi bi-envelope-fill"></span></th>
                <th>Mahnungsnr.</th>
                <th>Kunde</th>
                <th>Fällig</th>
                <th class="align-content-end">Betrag</th>
                <th class="align-content-center">Gerichtlich?</th>
                <th class="align-content-center">Bezahlt?</th>
            </tr>
        </thead>
        <tbody>
            {% for rechnung in rechnungen %}
            {% if rechnung.mahnungen %}
            <tr class="{% if not rechnung.erledigt %}table-danger{% else %}table-active{% endif %}">
                <td></td>
                <th>
                    <a href="{% url "rechnung:rechnung" rechnung.id %}">
                        {{ rechnung }}
                    </a>
                </th>
                <td>
                    <a href="{% url "rechnung:view_kunde" rechnung.kunde.id %}">
                        {{ rechnung.kunde.knr|unlocalize }}
                    </a>
                </td>
                <td></td>
                <td class="text-muted align-content-end">{{ rechnung.gesamtsumme }}€</td>
                <td></td>
                <td>{% include "snippets/true_false_span.html" with value=rechnung.bezahlt %}</td>
            </tr>
            {% for mahnung in rechnung.mahnungen %}
            <tr>
                <td>{% include "snippets/true_false_span.html" with value=mahnung.geschickt %}</td>
                <td class="ps-2"><a href="{% url "rechnung:mahnung" mahnung.rechnung.id mahnung.id %}">
                        {{ mahnung.wievielte }}. Mahnung
                    </a>
                </td>
                {% if mahnung.geschickt %}
                <td></td>
                <td
                    {% if mahnung.faellig and not rechnung.erledigt %}class="table-danger"
                    {% endif %}
                >
                    {{ mahnung.mfdatum }}
                </td>
                <td class="align-content-end">{{ mahnung.mahnsumme }}€</td>
                <td>{% include "snippets/true_false_span.html" with value=mahnung.gerichtlich %}</td>
                <td>{% include "snippets/true_false_span.html" with value=mahnung.bezahlt %}</td>
                {% else %}
                <td class="text-muted align-content-center">Noch nicht gestellt</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
